body{
	margin: 0;
	padding: 0;
	height: 800px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/bg.jpg");
	background-size: cover;
background-size: cover;
background-repeat: no-repeat;

}
ul{
	margin-top: 6%;
	list-style-type: none;
	float: right;
	font-size: 20px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	padding: 5px 5px;
	border:1px solid white transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background: white;
}

h1{
	position: absolute;
	margin-top: 25%;
	margin-left: 50%;
	font-size: 70px;
	color: white;
	transform: translate(-50%,-50%);
}
